/* Some Vendor Styles Override */
/* @import "https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700"; */
/* @import url('https://fonts.googleapis.com/css?family=Roboto:300,400,500,700'); */
@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700,800');

body {
    font-family: 'Open Sans','Helvetica Neue', Helvetica,Arial, sans-serif;
    background: #f7f7f7;
    font-size: 13px;
    color: #676a6c;
}

p {

    font-weight: 300;
    line-height: 1.7em;
    
}

a, a:hover, a:focus {
    color: inherit;
    text-decoration: none;
    transition: all 0.3s;
}





/*
----------------------------------------------
=content
----------------------------------------------
*/

.wrapper {
    display: flex;
    position: relative;
    top:0;
}




/*
----------------------------------------------
 =profile
----------------------------------------------
 */

 .usercard-component{
  margin-right: 30px;
  margin-bottom: 30px;
 }
 .usercard-component .user-card{
  padding: 20px ;
 }

 .usercard-component .user-card .profile-image{
   position: relative;
   border-radius: 50%;
   margin: 0 auto;
   width: 150px;
   height: 150px;
   background-color: #fff;
 }
 .usercard-component .user-card .profile-image img{
   width: 150px;
   height: 150px;
   border-radius: 50%;
 }
 .usercard-component .user-card .profile-image .edit-image{
  position: absolute;
  display: none;
  background-color: rgba(0,0,0,0.5);
  padding-top: 45%;
  color: #fff;
  z-index: 9999;
  top: 0;
  left: 0;
  width: 150px;
  height: 150px;
  border-radius: 50%; 
 }

 .user-card .profile-image:hover .edit-image{
   display: block;
   cursor: pointer;
 }
 .user-card .profile-image #image-upload{
   display: none;
 }

.usercard-component .user-profile-label {
  padding: 10px;
}
.user-profile-label p.name{
  color: #000;
  font-size: 18px;
  font-weight: 400;
  margin: 0 auto;
  text-align: center;
}
.user-profile-label .specialty{
  color: #888;
  font-size: 16px;
  display: block;
  text-align: center;
}
.user-profile-label .available{
  color: #fff;
  background-color: #0cb48a; 
  font-size: 12px;
  display: inline-block;
  margin: 0 auto;
  padding: 2px 5px;
  border-radius: 5px;
  text-align: center;
}

.user-stats{
  font-size: 16px;
}
.user-stats strong{
  float: right;
}
.user-stats li{
 margin-bottom: 10px;
}
.rating span{
  color: #ecb51e;
}

.user-info .info-bar{
  background-color: #fff;
  color: #666 !important;
}
.user-info .info-bar li a{
  color: #666 !important;
  padding: 20px;
}
.user-info .info-bar li a.active{
  border: none !important;
  border-bottom: 2px solid #14aee1 !important;
}

.user-info .info-content{
  padding: 20px;
}

.top-row{
  display: flex; 
}
.widget-box{
  width: 200px;
  height: 200px;
  border-radius: 5px;
  padding: 15px;
}

.measurement{
  color: #fff;
  font-size: 16px;
}
.measurement-val{
  color: #fff;
  position: relative;
  padding: 30px 0;
}
.measurement-val span{
  color: #fff;
  font-size: 48px;
  font-weight: 600;
}
.measurement-val small{
 position: absolute;
 top: 45px;
}

.med-info-x{
  margin: 12px auto;
}

.med-info{
  position: relative;
  padding: 30px 15px 10px;
  margin: 15px auto;
  background-color: #fff;
  /* box-shadow: 0 2px 4px 0 rgba(0,0,0,0.2); */
  border: 1px solid #dbdbdb;
  border-radius: 5px;

}
.med-info .title{
  position: absolute;
  top:2px;
  font-size: 16px;
  font-weight: 400;
  color: #14aee1;
}
.med-info .detail{
  display: inline-block;
  padding: 5px 10px;
  margin-bottom: 5px;
  background-color: rgba(0, 0, 0, 0.034);
  border-radius: 5px;
  color: #676a6c;
}

.appointment{
  padding: 10px;
  background-color: #fff;
  border-top: 2px solid #14aee1;
}

/*
----------------------------------------------
 =settings
----------------------------------------------
 */

#settings-menu, #settings-form{
  margin: 25px auto; 
}

#settings-menu .menu{
  border: none;
}
#settings-menu .menu li a{
  background-color: transparent;
  color: #888;
  font-size: 14px;
  border: none;
  margin-bottom: 10px;
  text-transform: uppercase;
}
#settings-menu .menu li a.active{
  border: none !important;
  border-left: 2px solid #14aee1 !important;
  border-radius: 0;
  color: #000;
}
#settings-menu .menu li a:hover{
  color: #14aee1 !important;
}

#settings-form .settings{
  background-color: #fff;
  padding:40px 20px;
  border: 1px solid #dbdbdb;
  position: relative;
}

.settings .line-block{
  position: absolute;
  display: flex;
  min-width: 100%;
  top: 0;
  left:0;
  padding: 0;
  margin:0;
}
.settings .line1{
  width: 40%;
  height: 10px;
  background-color: rgb(19, 173, 225);
  display: inline-block;
  margin:0;
}
.settings .line2{
  width: 30%;
  height: 10px;
  background-color: rgba(19, 173, 225, 0.808);
  display: inline-block;
  margin:0;
}
.settings .line3{
  width: 20%;
  height: 10px;
  background-color: rgba(19, 201, 225, 0.658);
  display: inline-block;
   margin:0;
}
.settings .line4{
  width: 10%;
  height: 10px;
  background-color: rgba(19, 230, 225, 0.349);
  display: inline-block;
   margin:0;
}

.settings form{
  margin-bottom: 20px;
}

.settings input[type=text], .settings input[type=email], .settings input[type=password]{
  color: #888;
  margin: 10px auto;
}
.settings input[type=text]:focus, .settings input[type=email]:focus, .settings input[type=password]:focus , .settings select:focus{
  border: 1px solid #14aee1 !important;
  box-shadow: none !important;
}
.settings form .weight, .settings form .height{
  background-color: #fff;
  color: #097383;
  padding: 10px;
  border-radius: 5px;
  position: relative
}
.weight .val , .height .val{
  position: absolute;
  top:20px;
  right: 20px;
    color: #097383;
}

.setting-box table input[type=time]{
  border: none;
  background-color: transparent;

}

/*
----------------------------------------------
 =review
----------------------------------------------
 */

.review-container{
  background-color: #fff;
  padding: 20px;
  margin: 20px auto;
  border: 1px solid #dbdbdb;
  border-radius: 5px;
}

.review-header{
  position: relative;
  padding: 10px 0 20px;
  border-bottom: 1px solid #dbdbdb;
}
.review-btn{
  position: absolute;
  bottom: 20px;
  right: 20px;
}

.p-review{
  padding: 20px 0;
  border-bottom: 1px solid #dbdbdb;
}
.review{
  position: relative;
  padding-top: 20px;
  padding-left: 6rem;
}
.review img{
  position: absolute;
  top: 25px;
  left: 10px;
}
.review .meta span{
  display: block;
}
.review .meta span.name{
  font-weight: 600;
}

/*
----------------------------------------------
 =utility
----------------------------------------------
 */
.icon-circle{
  display:inline-block;
  width:10px;
  height: 10px;
  border-radius: 5px;
}
 .shadow{
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
 }
 .btn-rounded, {
     border-radius: 50px;
 }
 .circle{
     border-radius: 50%;
 }
 /*  */
.inline{
    display: inline;
}
.inline-block{
    display:inline-block;
}
.block{
  display: block;
}
/*  */
.fl{
  float:left;
  clear: both;
}
.fr{
  float:right;
  clear: both;
}

/* position */
.relative{
  position: relative;
}
.absolute{
  position: absolute;
}

/* typography */
.text-bold{
  font-weight: 700;
}
.text-grey{
  color: #adadad;
}
.text-lg{
  font-size: 40px;
}

/* border */
.b-1{
  border-width:1px !important;
}
.b-2{
  border-width:2px !important;
}
.b-3{
  border-width:3px !important;
}
.b-5{
  border-width:5px !important;
}
.border{
  /* border-width: 2px ; */
  border-style: solid ;
  border-color: rgba(0,0,0,0.2);
}
.bb{
  border:none;
  border-bottom:solid rgba(0,0,0,0.2);
}
.br{
  border:none;
  border-right: solid rgba(0,0,0,0.2);
}
.bl{
  border:none;
  border-left: solid rgba(0,0,0,0.2);
}
.bt{
  border:none;
  border-right: solid rgba(0,0,0,0.2);
}
.brt{
  border:none;
  border-right: solid rgba(0,0,0,0.2);
  border-top: solid rgba(0,0,0,0.2);
}
.brb{
  border:none;
  border-right: solid rgba(0,0,0,0.2);
  border-bottom: solid rgba(0,0,0,0.2);
}
.blt{
  border:none;
  border-left: solid rgba(0,0,0,0.2);
  border-top: solid rgba(0,0,0,0.2);
}
.blb{
  border:none;
  border-left: solid rgba(0,0,0,0.2);
  border-bottom: solid rgba(0,0,0,0.2);
}
/* bgs */
.bg-green{
  background-color: #09978b; 
}

/*
 * =miscellaneous
 * -------------------------
 */

 a, a:hover{
    text-decoration:none;
    color:#fff;
 }
 

/*
 * =nav: main top navigation menu
 * -------------------------
 */

.brand-link{
  color: #14aee1 !important;
  font-size: 1.5rem;
  font-weight: 500;
}
.nav-btn{
  padding: 10px 20px !important;
}
.nav-btn:hover{
    color:#fff !important;
}


/*
 * =form: login and registration
 * -------------------------
 */

.button-submit{
   width:100%;
   display: block;
   padding: 10px 30px;
   background-color: #14aee1;
   color:#fff;
   border:none;
   border-radius: 50px;
   cursor: pointer;
   transition-duration: 0.4s;
}
 .button-submit:hover{
   /* background-color: #0f97c0; */
   background-color: #fff;
   color:#14aee1;
   box-shadow: 0 4px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}

 .auth-input{
   margin-bottom:2rem;
}

.auth-input input{
  border:none;
  /* border-bottom: 2px solid rgba(0 ,0 ,0, 0.3);
  border-radius:0px; */
  background-color: rgba(0, 0, 0, 0.06);
  padding:1.6em  !important;
}
.auth-input input:focus{
  border: 1px solid #14aee1;
  border-color: #14aee1;
  box-shadow: none;
}
